src/main/mule/maven-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="03685380-f1e7-4631-ac62-409f423ae01b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="maven-projectFlow" doc:id="1f470a41-7b88-4ba6-a2c6-1595bcf7a08b" >
		<http:listener doc:name="Listener" doc:id="207494ff-7f57-4631-af45-c8fa95158562" config-ref="HTTP_Listener_config" path="hello"/>
		<set-payload value="#['Hello Maven']" doc:name="Set Payload" doc:id="da68093d-133a-4195-8397-0dba4aa87e9b" />
	</flow>
</mule>
